{% extends 'core/base_generic.html' %}

{% block body %}
  <div class="container">
    {% if interviews %}
      {% for interview in interviews %}
        <div class="card mb-3 interview-card">
          <div class="card-header">
            {{ interview.job_title }}
            <a href="{% url 'core:interview_delete' pk=interview.pk %}" class="btn btn-danger btn-sm float-right">
              <i class="fas fa-trash"></i>
            </a>
          </div>
          <div class="card-body">
            <p class="card-text">{{ interview.job_description|truncatechars:30 }}</p>
            <a href="{{ interview.resume.url }}" class="btn btn-primary">View Resume</a>
            <a href="{% url 'core:interview_detail' pk=interview.pk %}" class="btn btn-secondary">View Details</a>  <!-- Added this line -->
            <a href="{{ interview.get_new_session_url }}" class="btn btn-info">Start New Session</a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="text-center">
        <div class="empty-box">
          <p>No interviews available.</p>
          <a href="{% url 'core:interview_create' %}" class="btn btn-primary">Add New Interview</a>
        </div>
      </div>
    {% endif %}
  </div>

  <style>
    .empty-box {
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      padding: 20px;
      margin: 50px auto;
      width: 50%;
      border-radius: 10px;
    }

    .interview-card {
      transition: transform 0.3s;
    }

    .interview-card:hover {
      transform: scale(1.03);
    }

    .btn-danger {
      transition: background-color 0.3s, border-color 0.3s;
    }

    .btn-danger:hover {
      background-color: #d93025;
      border-color: #d93025;
    }
  </style>
{% endblock %}
