{% extends "core/base_generic.html" %} 
{% load widget_tweaks %}

{% block title %}Log In{% endblock %} 
{% block body %}

  {% if form.non_field_errors %}
  {% for error in form.non_field_errors  %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
  {% endfor %}
  {% endif %}

  <div class="d-flex align-items-center justify-content-center py-3">
  <div style="border: 1px solid #ccc; border-radius: 10px; padding: 30px; background-color: #f8f9fa;">
    <h2 class="text-center">Log In</h2>
    <form method="POST" action="{% url 'core:login' %}">
      {% csrf_token %} 
      {% for field in form %}
      <div class="form-group mb-3">
        <label for="{{ field.auto_id }}" class="form-labeln">{{ field.label }}</label>
        {{ field|add_class:"form-control"  }}
        {% if field.help_text %}
        <small id="{{ field.auto_id }}Help" class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
      {% endfor %}
    <center><button type="submit" class="btn btn-success">Log In</button></center>
      <br>
      <div style="text-align: center;">
      <p style="margin:0px">Don't have an account yet?  <a href="{% url 'core:register' %}">Create Account</a></p>
      <p style="margin:0px">Continue as Guest?  <a href="{% url 'core:home' %}">Back to Home</a></p>
    </div>
    </form>
  </div>
</div>
{% endblock body %}