{% extends "core/base_plain.html" %} 
{% load widget_tweaks %}

{% block title %}Register{% endblock %}

{% block body %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors  %}
  <div class="alert alert-danger">
    {{ error }}
  </div>
{% endfor %}
{% endif %}

<div class="d-flex align-items-center justify-content-center py-20">
  <div class="" style="border: 1px solid #ccc; border-radius: 10px; padding: 40px; background-color: #f8f9fa; width:65%;">
    <h2 class="text-center">Welcome to Interviewer</h2>
    <h5 class="text-center">Create your account</h5>
    <form method="POST" action="{% url 'core:register' %}" id="registrationForm">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group mb-3">
        <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}{% if field.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {{ field|add_class:"form-control" }}
        {% for error in field.errors %}
          <div class="invalid-feedback" style="display: block;">{{ error }}</div>
        {% endfor %}
      </div>
      {% endfor %}
      <center><button type="submit" class="btn btn-success">Register</button></center>
    </form>
    <br>
    <div style="text-align: center;">
      <p style="margin:0px">Already have an account?  <a href="{% url 'core:login' %}">Login</a></p>
      <p style="margin:0px">Continue as Guest?  <a href="{% url 'core:home' %}">Back to Home</a></p>
    </div>
</div>
</div>
{% endblock body%}
