{% extends 'core/base_generic.html' %}

{% block body %}
  <div class="container">
    {% for session in sessions %}
      <div class="card mb-3">
        <div class="card-header">
          Session for {{ session.interview.job_title }} on {{ session.start_time|date:"F j, Y, P" }}
        </div>
        <div class="card-body">
          <p class="card-text">End Time: {{ session.end_time|date:"F j, Y, P" }}</p>
          <p class="card-text">Performance Score: {{ session.performance_score }}</p>
        </div>
      </div>
    {% empty %}
      <p>No sessions available.</p>
    {% endfor %}
  </div>
{% endblock %}
