{% extends 'core/base_generic.html' %}

{% block body %}
  <div class="container">
    <div class="card">
      <div class="card-header">
        Session for {{ session.interview.job_title }} on {{ session.start_time|date:"F j, Y, P" }}
      </div>
      <div class="card-body">
        <h5 class="card-title">Questions</h5>
        <p class="card-text">{{ session.questions }}</p>
        <h5 class="card-title">Responses</h5>
        <p class="card-text">{{ session.responses }}</p>
      </div>
    </div>
  </div>
{% endblock %}
